html, body, body *:not(script) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

html {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;;
  color: white;
}

body {
  margin: 0;
  overflow: hidden;
}

button {
  color: white;
  background-color: black;
  padding: 3px 5px 3px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 18px;
}

#canvas_container {
  overflow: hidden;
  background-color: black;
}

canvas {
  min-width: 0;
  min-height: 0;
}

#render_progress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 40px;
}

#info {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 15px;
}

#settings_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#settings_div {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 30px);
  background-color: black;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
  flex-direction: row;
  justify-content: start;
}

#settings_div * {
  flex-grow: 0;
}
