html, body, #canvas_container, canvas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

html {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

#canvas_container {
  overflow: hidden;
  background-color: black;
}

canvas {
  min-width: 0;
  min-height: 0;
}

#render_progress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 40px;
}
